@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-bg-dark {
  --color-bg-marketing: #111827;
  --color-bg-primary: #111827;
  --color-bg-secondary: #1f2937;
  --color-bg-tertiary: #D1D5DB;
  --color-bg-focus: #4a5568;
  --color-bg-inverse: #ffffff;
  --color-bg-darker: #0F172A;
  --color-bg-lighter: #1E293B;
  --color-text-focus: #ffffff;
  --color-text-marketing: #cbd5e0;
  --color-text-primary: #cbd5e0;
  --color-text-secondary: #e2e8f0;
  --color-text-tertiary: #D1D5DB;
  --color-text-gray: #e2e8f0;
  --color-text-inverse: #111827;
}

.theme-bg-light {
  --color-bg-marketing: #ffffff;
  --color-bg-primary: #edf2f7;
  --color-bg-secondary: #f7fafc;
  --color-bg-tertiary: #4B5563;
  --color-bg-focus: #ffffff;
  --color-bg-inverse: #111827;
  --color-bg-darker: #E2E8F0;
  --color-bg-lighter: #F8FAFC;
  --color-text-marketing: #111827;
  --color-text-primary: #111827;
  --color-text-focus: #1f2937;
  --color-text-secondary: #1f2937;
  --color-text-tertiary: #4B5563;
  --color-text-inverse: #ffffff;
}

.theme-bg-indigo {
  --color-bg-primary: #312E81;
  --color-bg-secondary: #1F2937;
  --color-bg-tertiary: #9CA3AF;
  --color-bg-focus: #312E81;
  --color-bg-inverse: #ffffff;
  --color-bg-darker: #0F172A;
  --color-bg-lighter: #1E293B;
  --color-text-focus: #ffffff;
  --color-text-primary: #edf2f7;
  --color-text-secondary: #e2e8f0;
  --color-text-tertiary: #9CA3AF;
  --color-text-inverse: #1F2937;
}

.theme-dark {
  --color-bg-theme-900: #111827;
  --color-bg-theme-800: #1f2937;
  --color-bg-theme-700: #4a5568;
  --color-bg-theme-600: #718096;
  --color-bg-theme-500: #a0aec0;
  --color-bg-theme-400: #cbd5e0;
  --color-bg-theme-300: #e2e8f0;
  --color-bg-theme-200: #edf2f7;
  --color-bg-theme-100: #f7fafc;
  --color-text-theme-900: #111827;
  --color-text-theme-800: #1f2937;
  --color-text-theme-700: #4a5568;
  --color-text-theme-600: #718096;
  --color-text-theme-500: #a0aec0;
  --color-text-theme-400: #cbd5e0;
  --color-text-theme-300: #e2e8f0;
  --color-text-theme-200: #edf2f7;
  --color-text-theme-100: #f7fafc;
}

.theme-pink {
  --color-bg-theme-50: #FDF2F8;
  --color-bg-theme-100: #FCE7F3;
  --color-bg-theme-200: #FBCFE8;
  --color-bg-theme-300: #F9A8D4;
  --color-bg-theme-400: #F472B6;
  --color-bg-theme-500: #EC4899;
  --color-bg-theme-600: #DB2777;
  --color-bg-theme-700: #BE185D;
  --color-bg-theme-800: #9D174D;
  --color-bg-theme-900: #831843;
  --color-text-theme-50: #FDF2F8;
  --color-text-theme-100: #FCE7F3;
  --color-text-theme-200: #FBCFE8;
  --color-text-theme-300: #F9A8D4;
  --color-text-theme-400: #F472B6;
  --color-text-theme-500: #EC4899;
  --color-text-theme-600: #DB2777;
  --color-text-theme-700: #BE185D;
  --color-text-theme-800: #9D174D;
  --color-text-theme-900: #831843;
}

.theme-blueGray {
 --color-bg-theme-50: #F8FAFC;
 --color-bg-theme-100: #F1F5F9;
 --color-bg-theme-200: #E2E8F0;
 --color-bg-theme-300: #CBD5E1;
 --color-bg-theme-400: #94A3B8;
 --color-bg-theme-500: #64748B;
 --color-bg-theme-600: #475569;
 --color-bg-theme-700: #334155;
 --color-bg-theme-800: #1E293B;
 --color-bg-theme-900: #0F172A;
 --color-text-theme-50: #F8FAFC;
 --color-text-theme-100: #F1F5F9;
 --color-text-theme-200: #E2E8F0;
 --color-text-theme-300: #CBD5E1;
 --color-text-theme-400: #94A3B8;
 --color-text-theme-500: #64748B;
 --color-text-theme-600: #475569;
 --color-text-theme-700: #334155;
 --color-text-theme-800: #1E293B;
 --color-text-theme-900: #0F172A;
}

.theme-coolGray {
 --color-bg-theme-50: #F9FAFB;
 --color-bg-theme-100: #F3F4F6;
 --color-bg-theme-200: #E5E7EB;
 --color-bg-theme-300: #D1D5DB;
 --color-bg-theme-400: #9CA3AF;
 --color-bg-theme-500: #6B7280;
 --color-bg-theme-600: #4B5563;
 --color-bg-theme-700: #374151;
 --color-bg-theme-800: #1F2937;
 --color-bg-theme-900: #111827;
 --color-text-theme-50: #F9FAFB;
 --color-text-theme-100: #F3F4F6;
 --color-text-theme-200: #E5E7EB;
 --color-text-theme-300: #D1D5DB;
 --color-text-theme-400: #9CA3AF;
 --color-text-theme-500: #6B7280;
 --color-text-theme-600: #4B5563;
 --color-text-theme-700: #374151;
 --color-text-theme-800: #1F2937;
 --color-text-theme-900: #111827;
}

.theme-gray {
 --color-bg-theme-50: #FAFAFA;
 --color-bg-theme-100: #F4F4F5;
 --color-bg-theme-200: #E4E4E7;
 --color-bg-theme-300: #D4D4D8;
 --color-bg-theme-400: #A1A1AA;
 --color-bg-theme-500: #71717A;
 --color-bg-theme-600: #52525B;
 --color-bg-theme-700: #3F3F46;
 --color-bg-theme-800: #27272A;
 --color-bg-theme-900: #18181B;
 --color-text-theme-50: #FAFAFA;
 --color-text-theme-100: #F4F4F5;
 --color-text-theme-200: #E4E4E7;
 --color-text-theme-300: #D4D4D8;
 --color-text-theme-400: #A1A1AA;
 --color-text-theme-500: #71717A;
 --color-text-theme-600: #52525B;
 --color-text-theme-700: #3F3F46;
 --color-text-theme-800: #27272A;
 --color-text-theme-900: #18181B;
}

.theme-trueGray {
 --color-bg-theme-50: #FAFAFA;
 --color-bg-theme-100: #F5F5F5;
 --color-bg-theme-200: #E5E5E5;
 --color-bg-theme-300: #D4D4D4;
 --color-bg-theme-400: #A3A3A3;
 --color-bg-theme-500: #737373;
 --color-bg-theme-600: #525252;
 --color-bg-theme-700: #404040;
 --color-bg-theme-800: #262626;
 --color-bg-theme-900: #171717;
 --color-text-theme-50: #FAFAFA;
 --color-text-theme-100: #F5F5F5;
 --color-text-theme-200: #E5E5E5;
 --color-text-theme-300: #D4D4D4;
 --color-text-theme-400: #A3A3A3;
 --color-text-theme-500: #737373;
 --color-text-theme-600: #525252;
 --color-text-theme-700: #404040;
 --color-text-theme-800: #262626;
 --color-text-theme-900: #171717;
}

.theme-warmGray {
 --color-bg-theme-50: #FAFAF9;
 --color-bg-theme-100: #F5F5F4;
 --color-bg-theme-200: #E7E5E4;
 --color-bg-theme-300: #D6D3D1;
 --color-bg-theme-400: #A8A29E;
 --color-bg-theme-500: #78716C;
 --color-bg-theme-600: #57534E;
 --color-bg-theme-700: #44403C;
 --color-bg-theme-800: #292524;
 --color-bg-theme-900: #1C1917;
 --color-text-theme-50: #FAFAF9;
 --color-text-theme-100: #F5F5F4;
 --color-text-theme-200: #E7E5E4;
 --color-text-theme-300: #D6D3D1;
 --color-text-theme-400: #A8A29E;
 --color-text-theme-500: #78716C;
 --color-text-theme-600: #57534E;
 --color-text-theme-700: #44403C;
 --color-text-theme-800: #292524;
 --color-text-theme-900: #1C1917;
}

.theme-red {
 --color-bg-theme-50: #FEF2F2;
 --color-bg-theme-100: #FEE2E2;
 --color-bg-theme-200: #FECACA;
 --color-bg-theme-300: #FCA5A5;
 --color-bg-theme-400: #F87171;
 --color-bg-theme-500: #EF4444;
 --color-bg-theme-600: #DC2626;
 --color-bg-theme-700: #B91C1C;
 --color-bg-theme-800: #991B1B;
 --color-bg-theme-900: #7F1D1D;
 --color-text-theme-50: #FEF2F2;
 --color-text-theme-100: #FEE2E2;
 --color-text-theme-200: #FECACA;
 --color-text-theme-300: #FCA5A5;
 --color-text-theme-400: #F87171;
 --color-text-theme-500: #EF4444;
 --color-text-theme-600: #DC2626;
 --color-text-theme-700: #B91C1C;
 --color-text-theme-800: #991B1B;
 --color-text-theme-900: #7F1D1D;
}

.theme-orange {
 --color-bg-theme-50: #FFF7ED;
 --color-bg-theme-100: #FFEDD5;
 --color-bg-theme-200: #FED7AA;
 --color-bg-theme-300: #FDBA74;
 --color-bg-theme-400: #FB923C;
 --color-bg-theme-500: #F97316;
 --color-bg-theme-600: #EA580C;
 --color-bg-theme-700: #C2410C;
 --color-bg-theme-800: #9A3412;
 --color-bg-theme-900: #7C2D12;
 --color-text-theme-50: #FFF7ED;
 --color-text-theme-100: #FFEDD5;
 --color-text-theme-200: #FED7AA;
 --color-text-theme-300: #FDBA74;
 --color-text-theme-400: #FB923C;
 --color-text-theme-500: #F97316;
 --color-text-theme-600: #EA580C;
 --color-text-theme-700: #C2410C;
 --color-text-theme-800: #9A3412;
 --color-text-theme-900: #7C2D12;
}

.theme-amber {
 --color-bg-theme-50: #FFFBEB;
 --color-bg-theme-100: #FEF3C7;
 --color-bg-theme-200: #FDE68A;
 --color-bg-theme-300: #FCD34D;
 --color-bg-theme-400: #FBBF24;
 --color-bg-theme-500: #F59E0B;
 --color-bg-theme-600: #D97706;
 --color-bg-theme-700: #B45309;
 --color-bg-theme-800: #92400E;
 --color-bg-theme-900: #78350F;
 --color-text-theme-50: #FFFBEB;
 --color-text-theme-100: #FEF3C7;
 --color-text-theme-200: #FDE68A;
 --color-text-theme-300: #FCD34D;
 --color-text-theme-400: #FBBF24;
 --color-text-theme-500: #F59E0B;
 --color-text-theme-600: #D97706;
 --color-text-theme-700: #B45309;
 --color-text-theme-800: #92400E;
 --color-text-theme-900: #78350F;
}

.theme-yellow {
 --color-bg-theme-50: #FEFCE8;
 --color-bg-theme-100: #FEF9C3;
 --color-bg-theme-200: #FEF08A;
 --color-bg-theme-300: #FDE047;
 --color-bg-theme-400: #FACC15;
 --color-bg-theme-500: #EAB308;
 --color-bg-theme-600: #CA8A04;
 --color-bg-theme-700: #A16207;
 --color-bg-theme-800: #854D0E;
 --color-bg-theme-900: #713F12;
 --color-text-theme-50: #FEFCE8;
 --color-text-theme-100: #FEF9C3;
 --color-text-theme-200: #FEF08A;
 --color-text-theme-300: #FDE047;
 --color-text-theme-400: #FACC15;
 --color-text-theme-500: #EAB308;
 --color-text-theme-600: #CA8A04;
 --color-text-theme-700: #A16207;
 --color-text-theme-800: #854D0E;
 --color-text-theme-900: #713F12;
}

.theme-lime {
 --color-bg-theme-50: #F7FEE7;
 --color-bg-theme-100: #ECFCCB;
 --color-bg-theme-200: #D9F99D;
 --color-bg-theme-300: #BEF264;
 --color-bg-theme-400: #A3E635;
 --color-bg-theme-500: #84CC16;
 --color-bg-theme-600: #65A30D;
 --color-bg-theme-700: #4D7C0F;
 --color-bg-theme-800: #3F6212;
 --color-bg-theme-900: #365314;
 --color-text-theme-50: #F7FEE7;
 --color-text-theme-100: #ECFCCB;
 --color-text-theme-200: #D9F99D;
 --color-text-theme-300: #BEF264;
 --color-text-theme-400: #A3E635;
 --color-text-theme-500: #84CC16;
 --color-text-theme-600: #65A30D;
 --color-text-theme-700: #4D7C0F;
 --color-text-theme-800: #3F6212;
 --color-text-theme-900: #365314;
}

.theme-green {
 --color-bg-theme-50: #F0FDF4;
 --color-bg-theme-100: #DCFCE7;
 --color-bg-theme-200: #BBF7D0;
 --color-bg-theme-300: #86EFAC;
 --color-bg-theme-400: #4ADE80;
 --color-bg-theme-500: #22C55E;
 --color-bg-theme-600: #16A34A;
 --color-bg-theme-700: #15803D;
 --color-bg-theme-800: #166534;
 --color-bg-theme-900: #14532D;
 --color-text-theme-50: #F0FDF4;
 --color-text-theme-100: #DCFCE7;
 --color-text-theme-200: #BBF7D0;
 --color-text-theme-300: #86EFAC;
 --color-text-theme-400: #4ADE80;
 --color-text-theme-500: #22C55E;
 --color-text-theme-600: #16A34A;
 --color-text-theme-700: #15803D;
 --color-text-theme-800: #166534;
 --color-text-theme-900: #14532D;
}

.theme-emerald {
 --color-bg-theme-50: #ECFDF5;
 --color-bg-theme-100: #D1FAE5;
 --color-bg-theme-200: #A7F3D0;
 --color-bg-theme-300: #6EE7B7;
 --color-bg-theme-400: #34D399;
 --color-bg-theme-500: #10B981;
 --color-bg-theme-600: #059669;
 --color-bg-theme-700: #047857;
 --color-bg-theme-800: #065F46;
 --color-bg-theme-900: #064E3B;
 --color-text-theme-50: #ECFDF5;
 --color-text-theme-100: #D1FAE5;
 --color-text-theme-200: #A7F3D0;
 --color-text-theme-300: #6EE7B7;
 --color-text-theme-400: #34D399;
 --color-text-theme-500: #10B981;
 --color-text-theme-600: #059669;
 --color-text-theme-700: #047857;
 --color-text-theme-800: #065F46;
 --color-text-theme-900: #064E3B;
}

.theme-teal {
 --color-bg-theme-50: #F0FDFA;
 --color-bg-theme-100: #CCFBF1;
 --color-bg-theme-200: #99F6E4;
 --color-bg-theme-300: #5EEAD4;
 --color-bg-theme-400: #2DD4BF;
 --color-bg-theme-500: #14B8A6;
 --color-bg-theme-600: #0D9488;
 --color-bg-theme-700: #0F766E;
 --color-bg-theme-800: #115E59;
 --color-bg-theme-900: #134E4A;
 --color-text-theme-50: #F0FDFA;
 --color-text-theme-100: #CCFBF1;
 --color-text-theme-200: #99F6E4;
 --color-text-theme-300: #5EEAD4;
 --color-text-theme-400: #2DD4BF;
 --color-text-theme-500: #14B8A6;
 --color-text-theme-600: #0D9488;
 --color-text-theme-700: #0F766E;
 --color-text-theme-800: #115E59;
 --color-text-theme-900: #134E4A;
}

.theme-cyan {
 --color-bg-theme-50: #ECFEFF;
 --color-bg-theme-100: #CFFAFE;
 --color-bg-theme-200: #A5F3FC;
 --color-bg-theme-300: #67E8F9;
 --color-bg-theme-400: #22D3EE;
 --color-bg-theme-500: #06B6D4;
 --color-bg-theme-600: #0891B2;
 --color-bg-theme-700: #0E7490;
 --color-bg-theme-800: #155E75;
 --color-bg-theme-900: #164E63;
 --color-text-theme-50: #ECFEFF;
 --color-text-theme-100: #CFFAFE;
 --color-text-theme-200: #A5F3FC;
 --color-text-theme-300: #67E8F9;
 --color-text-theme-400: #22D3EE;
 --color-text-theme-500: #06B6D4;
 --color-text-theme-600: #0891B2;
 --color-text-theme-700: #0E7490;
 --color-text-theme-800: #155E75;
 --color-text-theme-900: #164E63;
}

.theme-lightBlue {
 --color-bg-theme-50: #F0F9FF;
 --color-bg-theme-100: #E0F2FE;
 --color-bg-theme-200: #BAE6FD;
 --color-bg-theme-300: #7DD3FC;
 --color-bg-theme-400: #38BDF8;
 --color-bg-theme-500: #0EA5E9;
 --color-bg-theme-600: #0284C7;
 --color-bg-theme-700: #0369A1;
 --color-bg-theme-800: #075985;
 --color-bg-theme-900: #0C4A6E;
 --color-text-theme-50: #F0F9FF;
 --color-text-theme-100: #E0F2FE;
 --color-text-theme-200: #BAE6FD;
 --color-text-theme-300: #7DD3FC;
 --color-text-theme-400: #38BDF8;
 --color-text-theme-500: #0EA5E9;
 --color-text-theme-600: #0284C7;
 --color-text-theme-700: #0369A1;
 --color-text-theme-800: #075985;
 --color-text-theme-900: #0C4A6E;
}

.theme-blue {
 --color-bg-theme-50: #EFF6FF;
 --color-bg-theme-100: #DBEAFE;
 --color-bg-theme-200: #BFDBFE;
 --color-bg-theme-300: #93C5FD;
 --color-bg-theme-400: #60A5FA;
 --color-bg-theme-500: #3B82F6;
 --color-bg-theme-600: #2563EB;
 --color-bg-theme-700: #1D4ED8;
 --color-bg-theme-800: #1E40AF;
 --color-bg-theme-900: #1E3A8A;
 --color-text-theme-50: #EFF6FF;
 --color-text-theme-100: #DBEAFE;
 --color-text-theme-200: #BFDBFE;
 --color-text-theme-300: #93C5FD;
 --color-text-theme-400: #60A5FA;
 --color-text-theme-500: #3B82F6;
 --color-text-theme-600: #2563EB;
 --color-text-theme-700: #1D4ED8;
 --color-text-theme-800: #1E40AF;
 --color-text-theme-900: #1E3A8A;
}

.theme-indigo {
 --color-bg-theme-50: #EEF2FF;
 --color-bg-theme-100: #E0E7FF;
 --color-bg-theme-200: #C7D2FE;
 --color-bg-theme-300: #A5B4FC;
 --color-bg-theme-400: #818CF8;
 --color-bg-theme-500: #6366F1;
 --color-bg-theme-600: #4F46E5;
 --color-bg-theme-700: #4338CA;
 --color-bg-theme-800: #3730A3;
 --color-bg-theme-900: #312E81;
 --color-text-theme-50: #EEF2FF;
 --color-text-theme-100: #E0E7FF;
 --color-text-theme-200: #C7D2FE;
 --color-text-theme-300: #A5B4FC;
 --color-text-theme-400: #818CF8;
 --color-text-theme-500: #6366F1;
 --color-text-theme-600: #4F46E5;
 --color-text-theme-700: #4338CA;
 --color-text-theme-800: #3730A3;
 --color-text-theme-900: #312E81;
}

.theme-violet {
 --color-bg-theme-50: #F5F3FF;
 --color-bg-theme-100: #EDE9FE;
 --color-bg-theme-200: #DDD6FE;
 --color-bg-theme-300: #C4B5FD;
 --color-bg-theme-400: #A78BFA;
 --color-bg-theme-500: #8B5CF6;
 --color-bg-theme-600: #7C3AED;
 --color-bg-theme-700: #6D28D9;
 --color-bg-theme-800: #5B21B6;
 --color-bg-theme-900: #4C1D95;
 --color-text-theme-50: #F5F3FF;
 --color-text-theme-100: #EDE9FE;
 --color-text-theme-200: #DDD6FE;
 --color-text-theme-300: #C4B5FD;
 --color-text-theme-400: #A78BFA;
 --color-text-theme-500: #8B5CF6;
 --color-text-theme-600: #7C3AED;
 --color-text-theme-700: #6D28D9;
 --color-text-theme-800: #5B21B6;
 --color-text-theme-900: #4C1D95;
}

.theme-purple {
 --color-bg-theme-50: #FAF5FF;
 --color-bg-theme-100: #F3E8FF;
 --color-bg-theme-200: #E9D5FF;
 --color-bg-theme-300: #D8B4FE;
 --color-bg-theme-400: #C084FC;
 --color-bg-theme-500: #A855F7;
 --color-bg-theme-600: #9333EA;
 --color-bg-theme-700: #7E22CE;
 --color-bg-theme-800: #6B21A8;
 --color-bg-theme-900: #581C87;
 --color-text-theme-50: #FAF5FF;
 --color-text-theme-100: #F3E8FF;
 --color-text-theme-200: #E9D5FF;
 --color-text-theme-300: #D8B4FE;
 --color-text-theme-400: #C084FC;
 --color-text-theme-500: #A855F7;
 --color-text-theme-600: #9333EA;
 --color-text-theme-700: #7E22CE;
 --color-text-theme-800: #6B21A8;
 --color-text-theme-900: #581C87;
}

.theme-fuchsia {
 --color-bg-theme-50: #FDF4FF;
 --color-bg-theme-100: #FAE8FF;
 --color-bg-theme-200: #F5D0FE;
 --color-bg-theme-300: #F0ABFC;
 --color-bg-theme-400: #E879F9;
 --color-bg-theme-500: #D946EF;
 --color-bg-theme-600: #C026D3;
 --color-bg-theme-700: #A21CAF;
 --color-bg-theme-800: #86198F;
 --color-bg-theme-900: #701A75;
 --color-text-theme-50: #FDF4FF;
 --color-text-theme-100: #FAE8FF;
 --color-text-theme-200: #F5D0FE;
 --color-text-theme-300: #F0ABFC;
 --color-text-theme-400: #E879F9;
 --color-text-theme-500: #D946EF;
 --color-text-theme-600: #C026D3;
 --color-text-theme-700: #A21CAF;
 --color-text-theme-800: #86198F;
 --color-text-theme-900: #701A75;
}

.theme-rose {
 --color-bg-theme-50: #FFF1F2;
 --color-bg-theme-100: #FFE4E6;
 --color-bg-theme-200: #FECDD3;
 --color-bg-theme-300: #FDA4AF;
 --color-bg-theme-400: #FB7185;
 --color-bg-theme-500: #F43F5E;
 --color-bg-theme-600: #E11D48;
 --color-bg-theme-700: #BE123C;
 --color-bg-theme-800: #9F1239;
 --color-bg-theme-900: #881337;
 --color-text-theme-50: #FFF1F2;
 --color-text-theme-100: #FFE4E6;
 --color-text-theme-200: #FECDD3;
 --color-text-theme-300: #FDA4AF;
 --color-text-theme-400: #FB7185;
 --color-text-theme-500: #F43F5E;
 --color-text-theme-600: #E11D48;
 --color-text-theme-700: #BE123C;
 --color-text-theme-800: #9F1239;
 --color-text-theme-900: #881337;
}
